.toolTip_box {
    position: relative;
}
.toolTip_content {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 80px;
    justify-content: space-between;
}

.toolTip_content > span {
    height: 20;
    width: 100%;
    text-align: center;
}

.arrow_left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -13px;
}
.arrow_up {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -12px;
}
.arrow_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -13px
}
.arrow_down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -11px;
}